h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 30px 0px 40px 0px;
  font-style: oblique;
  text-align: center;
  letter-spacing: 10px;
  background: -webkit-linear-gradient(45deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
  border-bottom: ivory 5px dashed;
  border-left: ivory 5px dashed;
  border-right: ivory 5px dashed;
  border-radius: 5px;
  max-width: 900px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

main {
  background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); 
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 90px;
  border-radius: 10px;
}

body {
  font-family: 'Lucida Sans';
  background-image: url('../img/rainforest.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

p {
  padding: 0px 10px 20px 30px;
}

.images {
  margin: 0px auto;
  text-align: center;
}

img {
  max-height: 175px;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

img:hover {
  opacity: .75;
  outline: solid 5px blue;
}

canvas {
  padding-bottom: 20px;
}
